body {

    background: url('https://i.pinimg.com/originals/38/ba/82/38ba82aceb169bc057bc1a624488ed35.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
.tvInfo {
    text-align: center;
    position: relative;
    font-weight: bold;
    color: aliceblue;
    box-sizing: border-box;

}
.nav-item {
    font-size: large;
    font-weight: bold ;
}

